<?xml version="1.0"?>
<model>
  <name>rf_down</name>
  <version>1.0</version>
  <sdf version='1.7'>model.sdf</sdf>

  <author>
   <name>Leonardi</name>
   <email>leochen123987@gmail.com</email>
  </author>

  <description>
    Downward rangefinder
    Currently using JSN-SR04T
    Will add mesh model in the future
  </description>
</model>
