<?xml version="1.0"?>

<model>
  <name>drone</name>
  <version>1.0</version>
  <sdf version="1.7">model.sdf</sdf>
  <author>
    <name>Leonardi</name>
  </author>

  <description>
    A copy of the 3DR Iris model taken from
    https://github.com/PX4/sitl_gazebo/tree/master/models
    Local modifications include adding standoffs,
    inertia and collision updates..

    Will add range sensor in all direction and intel realsense d455
  </description>
</model>
